{% extends 'base.html' %}

{% load static %}

{% block content %}
<div>
  <div class="container-xxl bd-gutter">
    <div class="col-md-8 mx-auto text-center mt-3">
      <img
        src="{% static 'img/Alvin_and_the_Chipmunks.jpeg' %}"
        height="165"
        alt="Avatar of our store"
        class="d-block mx-auto mb-3"
      />
      <h1 class="mb-3 fw-semibold">Встречай нашу компанию</h1>
      <p class="lead mb-4">
        Мы все очень разные. Мы родились в разных городах, в разное время, любим
        разную музыку, еду, кино. Но у нас есть то, что нас всех объединяет. Это
        наша компания. Мы его сердце. Мы не просто команда, мы семья.
      </p>
    </div>
  </div>

  <div class="col-md-8 blog-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">Немного о проекте</h3>
    <div class="blog-post">
      <h2 class="blog-post-title">История нашей компании</h2>
      <p class="blog-post-meta">Январь, 2004 <a href="#">Марк Цукерберг </a></p>
      <p>
        В январе 2004 года Марка Цукерберг приступает к работе над разработкой
        сайта thefacebook.com для виртуального общения и в скором времени
        запускает его. Дата основания Facebook: 4 февраля 2004 года в
        Кеймбридже, Массачусетс, США. В течение следующего месяца на ресурсе
        зарегистрировалось более половины всех студентов Гарварда, при этом
        большая часть из них заходили в свои аккаунты и заполняли ленту по
        несколько раз в день. Видя, что сайт пользуется популярностью, его
        создатель решает привлечь к работе над ним своих соседей по общежитию -
        Дастин Московиц, работал над программным обеспечением, а Крис Хьюз
        занимался продвижением ресурса.
      </p>
      <hr >
      <p>
        Спустя несколько дней после запуска сайта, братья Уинклвосс – на которых
        Цукерберг работал в течение нескольких месяцев, объявили, что бывший
        подчиненный украл у них идею создания в Гарварде публичной социальной
        сети. Обвинения в итоге вылились в судебные разбирательства, длившиеся в
        течение нескольких лет и принесшие в итоге семейству Уинклвосс 65
        миллионов долларов.
      </p>
    </div>
  </div>

  {% endblock%}
</div>
