{% extends 'base.html' %}

{% load static %}

{% block content %}

<div>
  <div class="container-xxl bd-gutter">
    <div class="col-md-8 mx-auto text-center mt-3">
      <img
        src="{% static 'img/Alvin_and_the_Chipmunks.jpeg' %}"
        height="165"
        alt="Avatar of our store"
        class="d-block mx-auto mb-3"
      >
      <h1 class="mb-3 fw-semibold">Встречай нашу компанию</h1>
      <p class="lead mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo
        eros, interdum et pellentesque ut, pharetra sed ligula. Aliquam porta
        nisl porta turpis pulvinar, pretium faucibus elit gravida. Curabitur
        varius est purus, a malesuada dolor dignissim laoreet. Duis maximus
        fringilla mauris, vitae condimentum ex iaculis et. Nam volutpat, dui eu
        consequat molestie, dolor nibh pretium nunc, ac consequat odio mi
        rhoncus ante. Vestibulum magna lectus, cursus in pharetra ac, elementum
        eu turpis. Proin ut nisi eros. Phasellus id volutpat est. Aenean id
        ultrices nunc.
      </p>
    </div>
  </div>

  <div class="row g-3 pr-5 pl-5 mb-5">
    <div class="col-lg-6 py-lg-4 pe-lg-5 g-md-5 justify-content-center">
      <h3 class="pb-3 mb-4 font-italic border-bottom">Немного о проекте</h3>
      <h2 class="blog-post-title">История нашей компании</h2>
      <p class="blog-post-meta">Январь, 2004</p>
      <p>
        Nullam et pharetra nisi. Etiam dictum orci ac nisl facilisis, vitae
        convallis orci feugiat. Proin lacinia ante lorem, et lobortis dui
        molestie ornare. Suspendisse sit amet magna ex. Fusce semper elit eget
        semper scelerisque. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Nulla facilisi. Ut at maximus
        libero. Proin in ante lorem. Ut eu euismod dolor. Nunc sed lorem sed
        nisl imperdiet bibendum sit amet fermentum tellus.
      </p>
      <hr>
      <p>
        Nullam et pharetra nisi. Etiam dictum orci ac nisl facilisis, vitae
        convallis orci feugiat. Proin lacinia ante lorem, et lobortis dui
        molestie ornare. Suspendisse sit amet magna ex. Fusce semper elit eget
        semper scelerisque. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Nulla facilisi. Ut at maximus
        libero. Proin in ante lorem. Ut eu euismod dolor. Nunc sed lorem sed
        nisl imperdiet bibendum sit amet fermentum tellus.
      </p>
    </div>
  </div>
</div>

{% endblock%}

