{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2 class="text-center">Список товаров</h2>
<hr>

{% for item in items%}
    {% include 'catalog/includes/card.html' %}
    {% empty %}
        <div class="col-md-8 mx-auto text-center mt-3">
            <p class="lead mb-4">Упс, товаров нет. </p>
            <img
                src="{% static 'img/no_items/sad_cat.jpeg' %}"
                height="165"
                alt="Sad cat :("
                class="d-block mx-auto mb-3"
                >
        </div>
{% endfor %}
{% endblock%}
